.h1 {
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}

.container {
    background-color: aqua;
    border-radius: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.cooltable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
